<div class="container">
        <span class="back"><a href="/user/register" class="signIn">SIGN-UP</a> | <a href="/user/login" class="signIn">LOGIN</a></span>
    <h2> Welcome to my App</h2>

    <p>This app helps you to add your hobbies. But first you have to sign up. If you already have am account you can just login</p>

    
</div>