<span class="back">Do you want to go back to the homepage? <a href="/user/homepage" >back</a></span>
<div class="container">
    <h1>Register  </h1>

    <form action="/user/processregister" method="post">
        <label>Name: </label>
        <input type="text" name="name"/><br />

        <label>Username: </label>
        <input type="text" name="username"/><br />

        <label>Password: </label>
        <input type="password" name="password"/><br />
        
        <label>Phone: </label>
        <input type="text" name="phone"/><br />

        <label>Email: </label>
        <input type="text" name="email"/><br />

        <input type="submit" name="submit" value="Signup"/><br />

    <p>Already have an account? <a href="/user/login">login</a></p>

    </form>
</div>